<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pokers/poker_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,732},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,855},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,757},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,659},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
            <key>pokers/poker_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,96}}</string>
                <key>sourceSize</key>
                <string>{71,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eea99d9e02bb72580711736ae5f9f9a7$</string>
            <key>textureFileName</key>
            <string>pokers.pvr.ccz</string>
        </dict>
    </dict>
</plist>
